form {
    height: 360px
}

.form {
    font-size: 40px;
    padding: 70px 0px 0px 180px;
}

input {
    font-size: 40px;
}

.error {
    font-size: 25px;
    padding-left: 430px;
}

.add {
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 130px;
    padding: 10px;
    font-size: 30px;
}

.log {
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 145px;
    padding: 10px;
    font-size: 30px;
}

.back {
    position: absolute;
    left: 40px;
    bottom: 20px;
    width: 130px;
    padding: 10px;
    font-size: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}