
.select {
    height: 360px;
}

.play, .playerData, .ranking {
    font-size: 40px;
    padding: 70px 0px 0px 180px;
}

.logout {
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 180px;
    padding: 10px;
    font-size: 30px;
}


a {
    color: inherit;
    text-decoration: none;
}


#pop-up {
	display: none;
}

.overlay {
	display: none;
}

#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}

.close {
	cursor:pointer;
	position: absolute;
	bottom: 4px;
	left: 4px;
	font-size: 20px;
}
#logout {
    cursor:pointer;
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 20px;
}