<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録画面</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/login-add.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">新規登録</div>
    </div>

    <form id="addForm">
        <div class="form">　　　名前：<input id="name" type="text" name="name" placeholder="（1～10文字）"></div>
        <div class="form">パスワード：<input id="password" type="password" name="password" placeholder="（4～20文字）"></div>
        <div id="error"></div>
        <div id="number"></div>
    </form>

    <div id="overlay">
        <div id="window">
            <p class="text">登録が完了しました！</p>
            <a href="/title"><button class="button">OK</button></a>
        </div>
    </div>

    <button class="add" onclick="addEvent()">登録</button>
    <a href="/title"><button class="back">戻る</button></a>

    <script type="text/javascript" src="/js/add.js"></script>
</body>
</html>