<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>レベル選択画面</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/level.css">
<body>
    <div class="header">
      <div class="header-logo">プレイ</div>
    </div>

    <div class="main">
        <h1>難易度</h1>
        <div class="select">
            <form id="selectLevel" action="/level" method="post">
                <div>
                    <label>
                        <input id="normal" type="radio" name="select" value="normal" checked><span>ふつう</span>
                    </label>
                </div>
                <div>
                    <label>
                        <input id="hard" type="radio" name="select" value="hard"><span>むずかしい</span>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <button form="selectLevel" type="submit" class="play">開始</button>

    <a href="/menu"><button class="back">戻る</button></a>
</body>
</html>